<div class="col-sm-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title underline-menu">Menu 1</h4>
            <div class="card-text">
                <table class="table table-borderless">
                    <tr>
                        <td>
                            <p class="item-head">Monday</p>
                            <p> Break Fast Item 1</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="item-head">Tuesday</p>
                            <p> Break Fast Item 1</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="item-head">Wednesday</p>
                            <p> Break Fast Item 1</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="item-head">Thursday</p>
                            <p> Break Fast Item 1</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="item-head">Friday</p>
                            <p> Break Fast Item 1</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="item-head">Saturday</p>
                            <p> Break Fast Item 1</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="item-head">Sunday</p>
                            <p> Break Fast Item 1</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>